% rebase('base.html', title='Python Orientado a Objetos')

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <img src="python-logo.png" width="128" height="128" alt="Linguagem Python" />

          <h1>Python Orientado a Objetos</h1><br>
          <p class="lead">Quer aprender Python Orientado a Objetos?</p>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="video-responsivo" src="//player.vimeo.com/video/188255477" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>

          <br><br>
          <center><a href="http://bit.ly/CursoPOOPython"><img src="fazer_curso.png" class="img-responsive" alt="fazer esse curso" /></a><center>
          <br><br>

          <p class="lead">Cadastre-se na nossa lista e receba novidades, promoções e muito mais!</p>

          <form class="col-lg-12" name="formLead" action="https://leadlovers.com/Pages/Index/94024" method="post" onsubmit="return validateForm()">
            <div class="input-group" style="width:380px;text-align:center;margin:0 auto;">
             <input id="id" name="id" type="hidden" value="94024" />
             <input id="pid" name="pid" type="hidden" value="2840831" />
             <input id="list_id" name="list_id" type="hidden" value="94024" />
             <input id="provider" name="provider" type="hidden" value="leadlovers" />
             <input class="form-control input-lg" id="email" name="email" placeholder="Digite o seu e-mail preferido" type="text" />
             <span class="input-group-btn"><button class="btn btn-lg btn-primary" style="margin-bottom:5px;" type="submit">Cadastrar</button>  </span>
             <input type="hidden" id="source" name="source" value="" />
             <img src="https://click.leadlovers.com/redirect/redirect.aspx?A=V&p=2840831&m=94024" style="display: none;" />
            </div>
          </form>
        </div>

      </div> <!-- /row -->

  	<br><br>

</div> <!-- /container full -->

<div class="container">

  <div class="col-lg-12 text-center v-center">
    <h2>O que as pessoas estão falando sobre o curso?</h2>
    <hr><br>
    <center>
      <img src="review3.png" class="img-responsive" alt="review do curso" /><br>
      <img src="review2.png" class="img-responsive" alt="review do curso" /><br>
      <img src="review1.png" class="img-responsive" alt="review do curso" /><br>
    </center>
  </div>

  <div class="row">
      <div class="col-lg-12 text-center v-center">
        <h2>O curso tem nota máxima!</h2>
        <hr><br>
        <center><img src="review_total.png" class="img-responsive" alt="review do curso" align="middle"/></center>
      </div>
    </div>

  <br><br>
  <center><a href="http://bit.ly/CursoPOOPython"><img src="fazer_curso.png" class="img-responsive" alt="fazer esse curso" /></a><center>

  <br><br>
  </div> <!-- /container -->

  <div class="container-full">
      <div class="row">
        <div class="col-lg-12 text-center v-center">
          <h1>O curso está com uma super-promoção por tempo limitado...</h1><br>
          <p class="lead">Não perca essa oportunidade e aprenda Python na prática!</p>
          <p class="lead">O curso possui acesso vitalício.</p>
          <p class="lead">Você pode acessar quando e onde quiser.</p>
          <p class="lead">Ao final do curso você receberá um certificado.</p>
          <p class="lead">Os instrutores estarão a sua disposição.</p>
          <p class="lead">São mais de 12 horas de vídeo-aulas.</p>
          <p class="lead">Assista a uma aula gratuitamente:</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="video-responsivo" src="https://player.vimeo.com/video/188259406" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <br><br>
          <center><a href="http://bit.ly/CursoPOOPython"><img src="fazer_curso.png" class="img-responsive" alt="fazer esse curso" /></a><center>
          <br><br>
        </div>
      </div> <!-- /row -->
  </div> <!-- /container full -->

  <div class="container">

    <div class="col-lg-12 text-center v-center">
      <h2>O curso tem projetos onde você irá praticar o que você aprendeu!</h2>
      <hr>
      <h3>Você irá aprender com aulas dinâmicas e didáticas, no seu ritmo!</h3>
      <h3>Você poderá acessar as aulas do seu computador, tablet ou smartphone!</h3>
      <br>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="video-responsivo" src="https://player.vimeo.com/video/188262206" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <br><br>
      <center><a href="http://bit.ly/CursoPOOPython"><img src="fazer_curso.png" class="img-responsive" alt="fazer esse curso" /></a><center>
      <br><br>
  </div> <!-- /container -->

  <div class="container">
    <div class="jumbotron">
      <center><h1>Quem são os instrutores?</h1></center><br>
      <p><a href="http://mcastrosouza.com" target="_blank">Marcos Castro</a> possui Bacharelado em Ciência da Computação, participou 3x da Final Brasileira da Maratona de Programação, já produziu centenas de vídeo-aulas ensinando programação e ama compartilhar conhecimento. Possui interesse em Machine Learning, Desenvolvimento de Jogos, Bioinformática, Desenvolvimento Web, Linguagens de Programação, Educação a Distância e outras áreas. Possui mais de 7 mil alunos espalhados por mais de 65 países na plataforma educacional <a href="https://www.udemy.com/user/marcoscastrodesouza/" target="_blank">Udemy</a>.</p>
      <p><a href="https://www.facebook.com/thomaswpp" target="_blank">Thomas William</a> faz Engenharia da Computação na Universidade Federal de São Paulo, produziu cursos de sucesso como o curso <a href="https://www.udemy.com/webscraping/" target="_blank">Web Scraping com Python e Beautiful Soup</a>. Possui mais de 500 alunos na plataforma <a href="https://www.udemy.com/user/thomas-william/" target="_blank">Udemy</a>, possui interesse por Web Scraping, Inteligência Artificial e Linguagens de Programação em especial Python e C.</p>
      <p>Os instrutores estarão a sua disposição para tirar suas dúvidas. O curso tem uma área de Perguntas e Respostas onde você poderá perguntar o que quiser em relação ao curso que os instrutores responderão o mais rápido possível!</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <center>
            <div class="fb-comments" data-href="http://www.pythonorientadoaobjetos.com" data-numposts="20"></div>
          </center>
          <hr>
          <p class="pull-right"><a href="http://bit.ly/CursoPOOPython">Python: Programação Orientada a Objetos com Python 3</a> - ©Copyright 2016 - <a href="http://mcastrosouza.com" target="_blank">Marcos Castro</a> e <a href="https://www.facebook.com/thomaswpp/" target="_blank">Thomas William</a></p>
        </div>
    </div>
  </div>

  <!-- script references -->
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
</body>
