% rebase('base.html', title='Obrigado!')
<div class="container-full">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <img src="python-logo.png" width="128" height="128" alt="Linguagem Python" />
      <h1>Cadastro realizado com sucesso!</h1><br>
      <p class="lead">Obrigado por se cadastrar em nossa lista!</p>
      <p class="lead">Em breve você receberá muitas novidades :)</p>
      <p class="lead"><a href="/" style="color:yellow;">Clique aqui</a> para voltar.</p>
    </div>
  </div> <!-- /row -->
<br><br>
</div> <!-- /container full -->

	  